$color_1: black;
$color_2: orangered;
$color_3: green;
$color_4: violet;
$color_5: #000;
$color_6: red;
$color_7: #fff;
$color_8: #d35400;
$color_9: #27ae60;
$color_10: white;
$color_11: #2ecc71;
$color_12: #333;
$color_13: gray;

$background-color_1: antiquewhite;
$background-color_2: white;
$border-color_1: #ff6600;

$font-family_1: 'Gotham', sans-serif;
$font-family_2: Arial, Helvetica, sans-serif;
$font-family_3: "Gotham", sans-serif;
